.gold-table {
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
  border: 1px solid gold;
  background-color: gold;
  outline: 1px solid black;
}

.gold-table th,
.gold-table td {
  padding: 10px;
  background-color: gold;
  color: black;
  border: 1px solid black;
}

.gold-table th {
  text-align: left;
  border-bottom: 1px solid black;
}
